section{
  padding: 1em;
  background: orangered;
}

h1{
  color:ghostwhite;
}

h2{
  color: ghostwhite;
}

label.output-label{
  color: ghostwhite;
  font-weight: bolder;
}

span.output-value{
  font-weight: bolder;
  font-style: italic;
  color: midnightblue;
  margin-left: 1em;
}

a{
  color: yellow;
  font-weight: bolder;
}

