section{
  padding: 1em;
  background: seagreen;
}

h1{
  color: ghostwhite;
  font-style: italic;
}

h2{
  color: ghostwhite;
}

label.input-label{
  color: ghostwhite;
  font-weight: bolder;
}

span.validation-message{
  color: coral;
  font-style: oblique;
}

img{
   height: 250px;
   width: 800px;
}
